table{
    display: block;
    max-height: 350px;
    overflow-y: scroll;
    width: 70%;
    /*margin-left: 100px;*/
}
th, td{
    width: 300px;
}
@media screen and (max-width: 1000px){
    table{
        margin-left: 0px;
    }
}