.form-group input[type=file] {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     position: absolute;
    top: -39px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

thead{
    background-color: #3366CC;
}
.table tr:hover:first-child {
    background-color: #b3e5fc;
}