
.container-header {
    overflow: hidden;
    background-color: #333;
    font-family: Oswald, "Helvetica Neue", Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
}

.container-header a {
    float: left;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 16px;
    cursor: pointer;
    font-style: normal;
}

.dropdown-new {
    float: left;
    overflow: hidden;
}

.dropdown-new .dropbtn {
    font-size: 12px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    line-height: 16px;

}
.dropbtn{
    font-weight: 500;
}

.container-header a:hover, .dropdown-new:hover .dropbtn {
    color: #95be15;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(51,51,51,.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 600;
    border-top-right-radius:17px ;
    border-bottom-left-radius: 17px;

}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {

}

.dropdown-new:hover .dropdown-content {
    display: block;
}

.hola{
    cursor: pointer;
}

.member tr:hover{
    background-color: #b3e5fc;
    
}

.selected{
    background-color: #b3e5fc;
  
}