.search{
    margin-top: 15px;
    border-bottom: 1px solid black;
    font-size: 20px;

}
.down{
    margin-top: 50px;
}

@media screen and (max-width: 1575px){
    .boton-buscar{
        width:100%;
    }
}
.container{
    /*width: 1770px;*/
}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
    .table{
        width: 100%;
    }
}
.colorBio{
    background-color: #2E2E2D;
}

li {
    font-weight: bold;
    color: white;
}

thead{
    background-color: #3366CC;
}

.round-button {
    width:100%;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #cfdcec;
    overflow:hidden;

    background: #4679BD;
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
    background:#30588e;
}
.round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}
#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 15px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
  float: right;
  overflow:hidden;
  width:250px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 1px 1px 11px #330033;
  background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 219px center;
  margin-top: -1em;
  margin-bottom: 1em;
}
#chart_div{
  float: left;
  font-size: 8px;
  background-color: transparent;
}
.absolute-center{
  top: 20% !important; 

}
