#tablacontratos {
    border-collapse: collapse;
    width: 100%;

}

#tablacontratos td, #tablacontratos th {
    border: 1px solid #ddd;
    padding: 2px;
    text-align: center;
}

#tablacontratos tr:nth-child(even){background-color: #f2f2f2;text-align: center;}

#tablacontratos tr:hover {background-color: #ddd;text-align: center;}

#tablacontratos th {
    padding-top: 8px;
    padding-bottom: 8px;
    
    background-color: #4CAF50;
    color: white;
}
#tablacontratos tr {
    height: 54px;
    text-align: center;
}
#tablacontratos button{

    padding:0.3em;
    font-size: 10px;
}
