
/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 740px;

}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 20px 2px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;

}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    border: 1px solid #ccc;
    width: 80%;
    border-left: none;
    height: 740px;
   	padding-left:  1em;
   	background-color: rgba(255,255,255,0.9);
    clear: right;
}

.tabcontent input {
    display: block;
    padding: 0.2em; 
    width: 205px; 
    clear: both;
    border: 1px solid #ccc;
    font-size: 14px;
    padding-left: 0.4em;
}

.tabcontent button {
    
   
    
    background-color: #4caf50;
    color: white;
    padding:0.9em;
    font-size: 13px;

}
.tabcontent button.botonRight {
   
    left: 490px;
   

}
.tabcontent button.botonLeft {
   
    left: 345px;
   

}
.tabcontent button.botonLeft2 {
   
    left: 215px;
   

}

.tabcontent button.botonRightModal {
   
    right: 15px;
    margin-top: 0.5em;

}
.tabcontent button.botonLeftModal {
   
    right: 100px;
    margin-top: 0.5em;
   

}
#contratos {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

table{
  background-color: white;
}

#contratos th, #contratos td {
  text-align: left;
  padding: 12px;
}

#contratos tr {
  border-bottom: 1px solid #ddd;
}

#contratos tr.header, #contratos tr:hover {
  background-color: #f1f1f1;
}
